* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px ;
  font-family: 'Overpass', sans-serif;
  color: var(--white);
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--very-dark-blue);
  display: grid;
  place-items: center;
}

footer {
  position: absolute;
  top: 90%;
  left:50%;
  transform: translate(-50%, -50%);
}

form input[type="submit"] {
  margin: 0 1rem;
  width: 90%;
  font-size: .8rem;
  color: var(--white);
  letter-spacing: 0.1rem;
  background-color: var(--orange);
  text-transform: uppercase;
  border-radius: 1.7rem;
  padding: .7rem;
  transition: background-color 1s, color 1s, font-weight 1s;

}

form input[type="submit"]:hover {
  cursor: pointer;
  background-color: var(--white);
  color: var(--orange);
  font-weight: 700;
  outline: 0;
}

form label { 
  padding: .4rem;
  cursor: pointer;
}

input:checked + .round-background {
  background-color: var(--medium-grey);
  color: var(--white);
  font-weight: 700;
}

.container {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  /* width: 20rem;
  height: 18rem; */
  width: 21.3rem;
  height: 21.3rem;
  padding: 2%;
  background-color: var(--dark-blue);
  border-radius: 20px;
}

.container h1 {
  font-size: 1.5rem;
  margin: 0 1rem;
  margin-bottom: .3rem;
}

.container p {

  color: var(--light-grey);
  margin: 0 .5rem 0 1rem;
  margin-bottom: 1rem;
  line-height: 1.3rem;
}

.numbers {
  display: flex;
  justify-content: space-around ;
  margin-bottom: 2rem;
}

.round-background {
  width: 13%;
  padding: 3%;
  color: var(--light-grey);
  text-align: center;
  background-color: hsl(211, 19%, 24%);
  border-radius: 6.7rem;
  transition: background-color 1s, color 1s, font-weight 1s;
}

.round-background:hover {
  cursor: pointer;
  color: var(--white);
  font-weight: 700;
  background-color: var(--orange);
}

.star {
  width: 12%;
  margin: 1rem;
  padding: 3%;
  background-color: hsl(211, 19%, 24%);
  border-radius: 6.7rem;
  display: flex;
  justify-content: center;  

}

.number {
  pointer-events: none;
  position: fixed;
  opacity: 0;
}

.column {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.text-thx {
  font-size: .9rem;
  text-align-last: center;
}

.image-thx {
  margin-top: 2rem;
}

.selected p {  
  margin: .8rem 0 1rem 0;
  padding: .4rem;
  background-color: hsl(211, 19%, 24%);
  border-radius: 1rem;
  color: hsl(25, 97%, 53%);;
  font-size: .8rem;

}

@media (min-width: 375px) {
  footer {
    transform: translate(-50%, 50%);
  }

  .text-form {
    font-size: .8rem;
    line-height: 1.4rem;
    margin: 0 1rem 1.3rem 0;
  }

}    
